header {
  color:white;
  background-color:rgb(39, 120, 207);
  font-family: arial, sans-serif;
  font-size: 300%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

body {
  /* width: 800px; */
  margin: auto;
  background-color:white;
  padding: 5px;
  font-family: arial, sans-serif
}

main {
  margin: auto;
  width: 800px;
  background-color:white;
  border-radius: 15px;
  text-align: right;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#icon {
    display: left;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    width: 80px;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: white;
    padding: 3px;
    font-size: 105%;
  }

address {
  font-style: normal;
}

button {
  padding: 0px;
}

li {
    padding-bottom: 4px;
}

h1 {
  color:rgb(39, 120, 207);
  font-size: 180%;
}

h2 {
  color:rgb(39, 120, 207);
}

h3 {
  color:rgb(39, 120, 207);
}

h4 {
  color:rgb(39, 120, 207);
}

p {
  color:black;
  font-size:120%;
  text-align: justify;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}

section {
  color:black;
  font-size:110%;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

#shortbr{
  display: block;
  margin: 5px 0;
}

#minusbr{
  display: block;
  margin: -3px 0;
}

hr {
  color:white;
  border-style:inset;
  border-width:1px;
  width:100%
}

a:link, a:visited {
  color:rgb(233, 88, 37)
}

a:hover {
  color:red
}